<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangz.demo.spring.cloud.product.dao.GoodInfoMapper">

    <sql id="tableName">good_info</sql>

    <select id="listByCategory" resultType="com.zhangz.demo.spring.cloud.product.entity.GoodInfo">
        select * from
        <include refid="tableName"/>
        where category_id = #{categoryId}
        <if test="from != null and pageSize != null">
            LIMIT #{pageSize} OFFSET #{from}
        </if>
    </select>

</mapper>
