<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangz.demo.spring.cloud.product.dao.OrderInfoMapper">

    <sql id="tableName">order_info</sql>

    <select id="getNotOrdered" resultType="com.zhangz.demo.spring.cloud.product.entity.OrderInfo">
        select * from
        <include refid="tableName"/>
        where user_id = #{userId} and (order_status = 0 or order_status = 1)
    </select>

    <select id="getOrderInfoByStatus" resultType="com.zhangz.demo.spring.cloud.product.entity.OrderInfo">
        select * from
        <include refid="tableName"/>
        where user_id = #{userId} and order_status = #{orderStatus}
    </select>

    <select id="listOrderInfoByStatus" resultType="com.zhangz.demo.spring.cloud.product.entity.OrderInfo">
        select * from
        <include refid="tableName"/>
        where user_id = #{userId}
        <if test="null != orderStatus">
            and order_status = #{orderStatus}
        </if>
    </select>
    
    <select id="getDayCountUserOrder" resultType="java.lang.Integer">
        select count(*) from
        <include refid="tableName"/>
        where user_id = #{userId} and create_time >=  #{date} || '00:00:00' and create_time &lt; #{date} || '23:59:59'
    </select>

</mapper>
