<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangz.demo.spring.cloud.product.dao.OrderInfoMapper">

    <sql id="tableName">order_info</sql>
   
    <select id="getNotOrdered" resultType="com.zhangz.demo.spring.cloud.product.entity.OrderInfo">
        select * from
        <include refid="tableName"/>
        where user_id = #{userId} and ordered is false
    </select>

</mapper>
