<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangz.demo.spring.cloud.product.dao.OrderGoodMapper">

    <sql id="tableName">order_good</sql>

    <select id="queryByOrderIdAndStatus" resultType="com.zhangz.demo.spring.cloud.product.entity.OrderGood">
        select * from
        <include refid="tableName"/>
        where order_id = #{orderId}
        <if test="null != status">
            and status = #{status}
        </if>
    </select>

    <delete id="deleteByOrderId">
        delete from
        <include refid="tableName"/>
        where order_id = #{orderId} and status = 0
    </delete>

    <update id="changeStatusToOrdered">
        update
        <include refid="tableName"/>
        set status = 1
        where order_id = #{orderId} and status = 0
    </update>

</mapper>
