<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangz.demo.spring.cloud.product.dao.ProductMapper">

    <sql id="tableName">CLOUD_BS_ORDER</sql>
    
    <select id="queryById" resultType="com.zhangz.spring.cloud.common.entity.Product">
        select * from
        <include refid="tableName"/>
        <where>
            pid = #{oid,jdbcType=NUMERIC}
        </where>
    </select>
</mapper>
